a{
  text-decoration:none;
  color: blue;
}
body {
    font-family: sans-serif;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 400px;
    font-size: 20px;
    padding: 2px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 24px;
}

hr {
    margin: 20px auto;
}

.post + .post {
    margin-top: 20px;
}

.post-title {
    font-weight: bold;
    font-size: 20px;
}

.post-body {
    margin: 0;
    font-size: 17px;
}

.post-author {
    font-style: italic;
    font-size: 12px;
}

nav ul {
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav #user-account {
    float: right;
}
#Thee {
  color: #fff;
}
#intro {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image:url('https://media.giphy.com/media/quEsMOrr3hmQ8/giphy.gif');
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;

}
#whatif {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  background-image:url('../css/morph.jpg');
  background-size: 100%;
}
